/* 共通 */
#AboutContainer{
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    z-index: 80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s;
}
#AboutText p{
    margin: 0;
}

/* 縦長レイアウト記述部 */
#AboutContentContainer{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
#IconPerson{
    display: inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 22vh;
}
#AboutText{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85vw;
    height: 40vh;
}
#AboutTextName{
    font-size: 2.8vh;
}

/* 横長レイアウト記述部 */
@media screen and (orientation: landscape) {
    #AboutContentContainer{
        flex-direction: row;
    }
    #IconPerson{
        font-size: 22vw;
    }
    #AboutText{
        width: 45vw;
        height: 22vw;
    }
    #AboutTextName{
        font-size: 2.8vw;
    }
}